* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  display: flex;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  align-items: center;
  background-color: #000;
}
.container {
  width: 42.8rem;
  height: 105.6rem;
  background-color: #fff;
  padding: 12.6rem 2rem 11.9rem 2rem;
}
/* flex helper class */
.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
header {
  /* margin-bottom: 48px; */
}
header p {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  letter-spacing: -0.32px;

  /* ctext */

  color: rgba(40, 54, 24, 0.85);
}
.progress-bar {
  width: 388px;
  height: 12px;
  background-color: rgba(243, 243, 243, 0.85);
  border-radius: 24px;
  margin-bottom: 73px;
}
.progress-bar p {
  background-color: #bc6c25;
  width: 140px;
  height: 12px;
  border-radius: 24px;
}
h1 {
  font-weight: 800;
  font-size: 28px;
  line-height: 41px;
  letter-spacing: 0.374px;
  width: 381px;
  text-align: left;
  /* Cozzy Text */

  color: #171f0e;
}
.foot,
h6 {
  justify-content: space-between;
  display: flex;
  margin-top: 46px;
  margin-bottom: 17px;
  align-items: center;
}
footer {
  margin-top: 80px;
  padding: 0 9px 0 9px;
}
h6 {
  font-weight: 400;
  font-size: 15px;
  letter-spacing: -0.24px;
  /* ctext */

  color: rgba(40, 54, 24, 0.85);
}
.img-container {
  margin-top: 40px;
  width: 388px;
  height: 353px;
  border: 1px dashed #9f9e9e;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.howToAttract {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-weight: 400;
  font-size: 15px;
  letter-spacing: -0.24px;
  color: #171f0e;
  padding: 0 15px 0;
}
.howToAttract li {
  list-style-type: none;
}
.back {
  display: flex;
  gap: 27px;
  font-weight: 400;
  font-size: 15px;
  letter-spacing: -0.24px;
  text-decoration: none;
  /* Cozzy Text */
  align-items: center;

  color: #171f0e;
}
.next {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7px 24px;
  width: 86px;
  height: 36px;
  background: #9f9e9e;
  border-radius: 4px;
  font-weight: 700;
  font-size: 17px;
  letter-spacing: -0.408px;
  color: #ffffff;
  text-decoration: none;
}
